/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
body {
  background: linear-gradient(135deg, #dff1ff, #b5d3ff, #9ac1ff);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Page wrapper */
.page-container {
  padding: 50px;
}

.page h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #06224c;
}
