.home-wrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  font-size: 55px;
  font-weight: 800;
  color: #06224c;
}

.home-sub {
  margin-top: 12px;
  font-size: 20px;
  color: #0a3876;
}
